.footer {
  margin-top: auto;

  border-top: 1px solid $border-color;

  &--handbook {
    background-color: $bg-handbook;
  }
}

.footer__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 15px $padding-mobile 15px;

  list-style: none;
}

.footer__item {
  &:not(:last-child) {
    margin-right: 25px;
  }
}

.footer__link {
  display: block;
  padding: 5px;

  transition-duration: $link-hover-fast;

  svg {
    display: block;
    width: 35px;
    height: 35px;

    fill: #000000;

    transition-duration: $link-hover-fast;
  }

  &:focus,
  &:hover {
    transform: scale(1.1) translateY(-2.25px);

    svg {
      fill: $blue-color;
    }
  }
}

@media (min-width: $tablet-width) {
  .footer__list {
    max-width: 960px;
    margin: 0 auto;
  }

  .footer__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}
