.heading {
  padding: 30px 0 70px;

  color: $title-color;

  background-image: linear-gradient(180deg, #ffffff 0%, $mdn-color 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

  &--device {
    background-image: linear-gradient(180deg, #ffffff 0%, $device-color 100%);
  }

  &--technomart {
    background-image: linear-gradient(180deg, #ffffff 0%, $technomart-color 100%);
  }

  &--mishka {
    background-image: linear-gradient(180deg, #ffffff 0%, $mishka-color 100%);
  }

  &--barbershop {
    background-image: linear-gradient(180deg, #ffffff 0%, $barbershop-color 100%);
  }

  &--code {
    background-image: linear-gradient(180deg, #ffffff 0%, $code-color 100%);
  }
}

.heading__wrapper {
  padding: 0 $padding-mobile;
}

.heading__title {
  margin: 0 0 25px 0;
  padding: 0;

  font-size: $title-big;
  font-weight: 500;

  animation-name: show;
  animation-duration: $animation-duration;
}

.heading__description {
  margin: 0;
  padding: 0;

  font-size: $text-big;

  animation-name: show;
  animation-duration: $animation-duration;
  animation-fill-mode: backwards;
  animation-delay: 0.3s;
}

@media (min-width: $tablet-width) {
  .heading {
    padding: 50px 0 100px;
  }

  .heading__wrapper {
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .heading__title,
  .heading__description {
    width: 100%;
    padding: 0;

    &--site {
      width: 40%;
      padding-left: 60%;
    }
  }
}

@media (min-width: 1400px) {
  .heading {
    &--margin {
      margin-bottom: 50px;
    }
  }
}