.review {
  padding: 25px $padding-mobile;
}

.review__description {
  margin-bottom: 35px;

  animation-name: show;
  animation-duration: $animation-duration;
  animation-fill-mode: backwards;
  animation-delay: 0.3s;
}

.review__text-block {
  &:not(:last-child) {
    margin-bottom: 35px;
  }
}

.review__title {
  margin: 0 0 25px 0;
  padding: 0;

  font-size: $title-middle;
  font-weight: 400;
  color: $title-color;
}

.review__list {
  margin: 0 0 35px 0;
  padding: 0;

  list-style: none;
}

.review__item {
  font-size: $text;
  color: $text-color;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &--git {
    margin-top: 30px;
  }
}

.review__link {
  position: relative;

  text-decoration: none;
  color: $text-color;

  border-bottom: 1px dotted $text-color;

  transition-duration: $link-hover;

  &:after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 2px;

    background-color: #000000;

    transform: scaleX(0);
    transition-duration: $link-hover;
  }

  &:focus,
  &:hover {
    color: $title-color;

    border-bottom: none;

    &:after {
      transform: scaleX(1);
    }
  }

  &--git {
    color: $blue-color;
    border: none;


    &:after {
      display: none;
    }

    &:focus,
    &:hover {
      color: $blue-color;
      text-decoration: underline;
    }
  }
}

.review__stack-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    padding: 5px;

    color: $text-color;

    border-radius: 3px;

    &:not(:last-child) {
      margin-bottom: 15px;
      margin-right: 10px;
    }
  }

  &--device {
    li {
      box-shadow: 0 0 0 1px $device-color;
    }
  }

  &--technomart {
    li {
      box-shadow: 0 0 0 1px $toogle-color;
    }
  }

  &--mishka {
    li {
      box-shadow: 0 0 0 1px $mishka-color;
    }
  }

  &--barbershop {
    li {
      box-shadow: 0 0 0 1px $barbershop-color;
    }
  }

  &--code {
    li {
      box-shadow: 0 0 0 1px $code-color;
    }
  }

  &--kekstagram {
    li {
      box-shadow: 0 0 0 1px $kekstagram-color;
    }
  }
}

.review__img {
  animation-name: show;
  animation-duration: $animation-duration;
  animation-fill-mode: backwards;
  animation-delay: 0.6s;

  a {
    display: block;

    border-radius: $bord-rad;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);

    transition-duration: $transition-hover;

    &:focus,
    &:hover {
      box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.15);

      transform: translateY(-5px);
    }
  }

  img {
    display: block;
    width: 100%;
    min-height: 563px;

    background-color: rgba(200, 200, 200, 0.8);

    border-radius: $bord-rad;
  }
}

@media (min-width: $tablet-width) {
  .review {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .review__description {
    width: 40%;
  }

  .review__img {
    width: 50%;
    margin-top: -220px;

    z-index: 10;
  }
}
