.sidebar {
  padding: 25px $padding-mobile 25px;
  box-sizing: border-box;
}

.sidebar__list {
  display: block;
  margin: 0;
  padding: 0;

  list-style: none;

  &--inner {
    display: none;

    padding-left: 25px;
  }
}

.sidebar__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  a {
    padding: 5px 10px;

    font-size: $text;
    color: $text-color;
    text-decoration: none;

    &:focus,
    &:hover {
      background-color: #f4f5f8;
    }
  }

  &--up {
    display: none;
  }

  .sidebar__link {
    position: relative;

    padding-left: 30px;

    svg {
      position: absolute;
      left: 5px;
      top: 4px;
    }

    &--open {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}

.sidebar--nojs {
  .sidebar__list--inner {
    display: block;
  }
}

.sidebar__link--open + .sidebar__list--inner {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .sidebar {
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 1400px) {
  .sidebar {
    position: absolute;
    left: 50%;
    top: 349px;

    width: calc((100vw - 1040px)/2);
    margin: 0;
    margin-left: 500px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .sidebar__list {
    display: block;

    &--inner {
      display: none;
    }
  }

  .sidebar__item {
    &--up {
      display: block;
      margin-top: 15px;
    }
  }

  .sidebar__link--open + .sidebar__list--inner {
    display: block;
  }
}
