$mobile-width: 360px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 960px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Fonts
$main-font: "Rubik",
"Arial",
sans-serif;

$text: 15px;
$text-big: 20px;

$title-small: 25px;
$title-middle: 30px;
$title-big: 40px;

$text-line-height: 20px;

// Colors
$text-color: #424242;
$title-color: #2b2b2b;
$toogle-color: rgb(0, 0, 0);
$border-color: rgb(217, 217, 217);
$blue-color: #3d7e9a;
$mdn-color: #83d0f2;

$device-color: #f7e296;
$technomart-color: #293449;
$mishka-color: #56c3b2;

$js-color: #F7DF1E;
$html-color: #E34F26;
$css-color: #264DE4;

// Padding
$padding-mobile: 15px;
$padding-desktop: 30px;

// animations
$transition-hover: 500ms;
$link-hover: 300ms;
$link-hover-fast: 150ms;

$animation-1: 0.4s;
$animation-2: 0.8s;
$animation-3: 1.2s;

$animation-heading: 0.2s;
$animation-review: 0.4s;

$animation-duration: 1s;

// border-radius
$bord-rad: 7px;